.intro-background {
	display: flex;
	flex-direction: row;
}

.fun-fact-background {
  display: flex;
}

.fun-fact-clicker-background {
  display: flex;
  background-color: crimson;
}

.num-item {
  font-weight: bold;
}

.fun-fact-item {
  margin: 2%;
}

.intro-pic {
	display: flex;
	flex: 1;
}

.intro-item {
	display: flex;
  flex: 5;		/* gives every intro-item 1 "point" */
  margin-left: 5%;
}

.intro-item h1,
h2,
ul,
li {
  margin: 4px 0;
}

.intro-item p {
  margin: 8px 0;
}

.intro-picture {
  width: 100%;
  height: 100%;
}

